/*RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UL - LISTA ORDENADA. OL- ORDENADA. LI - ELEMENTO DA LISTA. */
ul, ol, li{
    list-style: none;
}
/*FIM DO RESET*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}

header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 80px;
    width: 80px;
    background-color: lightgray;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main {
    flex-grow: 1;
    background-color: plum;
}

footer{
    height: 100px;
    background-color: lightgreen;
}