/*RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UL - LISTA ORDENADA. OL- ORDENADA. LI - ELEMENTO DA LISTA. */
ul, ol, li{
    list-style: none;
}
/*FIM DO RESET*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}

header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 80px;
    width: 80px;
    background-color: lightgray;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main {
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    font-size: 40px;
    width: 80%;
}

.conteudo button{
    height: 80px;
    width: 300px;
    background-color: black;
    color: aliceblue;
    font-size: 32px;
}

.conteudo .social{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.conteudo .social div{
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border-radius: 50%;
}


.destaque{
    width: 50%;
    background-color: aquamarine;
}
footer{
    height: 100px;
    background-color: lightgreen;
}